[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Plugin for wx.hemna.com for the weewx weather app
[access "refs/*"]
	owner = group user/Walter A. Boring IV (hemna)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Walter A. Boring IV (hemna)
	label-Verified = -1..+1 group user/Walter A. Boring IV (hemna)
	push = group user/Walter A. Boring IV (hemna)
	read = group user/Walter A. Boring IV (hemna)
	rebase = group user/Walter A. Boring IV (hemna)
	removeReviewer = group user/Walter A. Boring IV (hemna)
	submit = group user/Walter A. Boring IV (hemna)
[access "refs/heads/*"]
	create = group user/Walter A. Boring IV (hemna)
	push = +force group user/Walter A. Boring IV (hemna)
	pushMerge = group user/Walter A. Boring IV (hemna)
	read = group user/Walter A. Boring IV (hemna)
[access "refs/tags/*"]
	push = group user/Walter A. Boring IV (hemna)
	push = +force group user/Walter A. Boring IV (hemna)
